<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.1.4" targetFramework="net472" />
  <package id="Fody" version="3.3.2" targetFramework="net472" developmentDependency="true" />
  <package id="IdentityModel" version="3.10.4" targetFramework="net472" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Hosting" version="4.0.0" targetFramework="net472" />
  <package id="MvvmLightLibsStd10" version="5.4.1.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net472" />
  <package id="SimpleInjector" version="4.4.2" targetFramework="net472" />
  <package id="System.Reactive" version="4.1.2" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net472" />
</packages>